In [91]:
import pandas as pd 
import numpy as np

data=pd.read_csv("interactions.csv")
data

,service_date,interaction_date,origin_hub_id,destination_hub_id,origin_region,destination_region,origin_hub_tier,destination_hub_tier,cumulative_commitments,cumulative_interest_signals,days_before_service
0,01-03-2023,30-01-2023,45,46,Karnataka,Tamil Nadu,Tier 1,Tier 1,8,76,30
1,01-03-2023,30-01-2023,46,45,Tamil Nadu,Karnataka,Tier 1,Tier 1,8,70,30
2,01-03-2023,30-01-2023,45,47,Karnataka,Andhra Pradesh,Tier 1,Tier 1,4,142,30
3,01-03-2023,30-01-2023,47,45,Andhra Pradesh,Karnataka,Tier 1,Tier 1,0,68,30
4,01-03-2023,30-01-2023,46,9,Tamil Nadu,Tamil Nadu,Tier 1,Tier2,9,162,30
...,...,...,...,...,...,...,...,...,...,...,...
1048570,02-02-2024,10-01-2024,19,2,Madhya Pradesh,Maharashtra and Goa,Tier 1,Tier 1,65,530,23
1048571,02-02-2024,10-01-2024,27,36,Rest of North,Delhi,Tier2,Tier2,0,235,23
1048572,02-02-2024,10-01-2024,14,30,Maharashtra and Goa,Maharashtra and Goa,Tier2,Tier 1,25,300,23
1048573,02-02-2024,10-01-2024,45,39,Karnataka,Tamil Nadu,Tier 1,Tier 3,8,956,23
1048574,02-02-2024,10-01-2024,39,45,Tamil Nadu,Karnataka,Tier 3,Tier 1,12,76,23

In [92]:
data = data[(data['days_before_service']<=15) & (data['days_before_service']!=0)]
data

,service_date,interaction_date,origin_hub_id,destination_hub_id,origin_region,destination_region,origin_hub_tier,destination_hub_tier,cumulative_commitments,cumulative_interest_signals,days_before_service
1500,01-03-2023,14-02-2023,45,46,Karnataka,Tamil Nadu,Tier 1,Tier 1,16,480,15
1501,01-03-2023,14-02-2023,46,45,Tamil Nadu,Karnataka,Tier 1,Tier 1,34,352,15
1502,01-03-2023,14-02-2023,45,47,Karnataka,Andhra Pradesh,Tier 1,Tier 1,36,892,15
1503,01-03-2023,14-02-2023,47,45,Andhra Pradesh,Karnataka,Tier 1,Tier 1,18,1130,15
1504,01-03-2023,14-02-2023,46,9,Tamil Nadu,Tamil Nadu,Tier 1,Tier2,48,1023,15
...,...,...,...,...,...,...,...,...,...,...,...
1047695,01-02-2024,31-01-2024,2,24,Maharashtra and Goa,Maharashtra and Goa,Tier 1,Tier2,650,16230,1
1047696,01-02-2024,31-01-2024,44,45,Tamil Nadu,Karnataka,Tier2,Tier 1,540,7155,1
1047697,01-02-2024,31-01-2024,47,10,Andhra Pradesh,Andhra Pradesh,Tier 1,Tier 3,340,9970,1
1047698,01-02-2024,31-01-2024,38,36,Rest of North,Delhi,Tier 1,Tier2,300,7000,1
1047699,01-02-2024,31-01-2024,19,30,Madhya Pradesh,Maharashtra and Goa,Tier 1,Tier 1,665,9800,1

In [93]:
data["days_before_service"].value_counts()

days_before_service
15    33800
14    33800
13    33800
12    33800
11    33800
10    33800
9     33800
8     33800
7     33800
6     33800
5     33800
4     33800
3     33800
2     33800
1     33800
Name: count, dtype: int64

In [94]:
df=pd.read_csv("train.csv")
df

      service_date  origin_hub_id  destination_hub_id  final_service_units
0       01-03-2023             45                  46                 2838
1       01-03-2023             46                  45                 2298
2       01-03-2023             45                  47                 2720
3       01-03-2023             47                  45                 2580
4       01-03-2023             46                   9                 4185
...            ...            ...                 ...                  ...
67195   31-12-2024              2                  24                  800
67196   31-12-2024             44                  45                 1360
67197   31-12-2024             47                  10                  560
67198   31-12-2024             38                  36                  535
67199   31-12-2024             19                  30                 2040

[67200 rows x 4 columns]

In [95]:
data = data.merge(
    df,
    on=['service_date', 'origin_hub_id', 'destination_hub_id'],
    how='left'
)
data

,service_date,interaction_date,origin_hub_id,destination_hub_id,origin_region,destination_region,origin_hub_tier,destination_hub_tier,cumulative_commitments,cumulative_interest_signals,days_before_service,final_service_units
0,01-03-2023,14-02-2023,45,46,Karnataka,Tamil Nadu,Tier 1,Tier 1,16,480,15,2838
1,01-03-2023,14-02-2023,46,45,Tamil Nadu,Karnataka,Tier 1,Tier 1,34,352,15,2298
2,01-03-2023,14-02-2023,45,47,Karnataka,Andhra Pradesh,Tier 1,Tier 1,36,892,15,2720
3,01-03-2023,14-02-2023,47,45,Andhra Pradesh,Karnataka,Tier 1,Tier 1,18,1130,15,2580
4,01-03-2023,14-02-2023,46,9,Tamil Nadu,Tamil Nadu,Tier 1,Tier2,48,1023,15,4185
...,...,...,...,...,...,...,...,...,...,...,...,...
506995,01-02-2024,31-01-2024,2,24,Maharashtra and Goa,Maharashtra and Goa,Tier 1,Tier2,650,16230,1,1180
506996,01-02-2024,31-01-2024,44,45,Tamil Nadu,Karnataka,Tier2,Tier 1,540,7155,1,1000
506997,01-02-2024,31-01-2024,47,10,Andhra Pradesh,Andhra Pradesh,Tier 1,Tier 3,340,9970,1,840
506998,01-02-2024,31-01-2024,38,36,Rest of North,Delhi,Tier 1,Tier2,300,7000,1,950
506999,01-02-2024,31-01-2024,19,30,Madhya Pradesh,Maharashtra and Goa,Tier 1,Tier 1,665,9800,1,1150

In [96]:
df['service_date'].dtype

dtype('O')

In [97]:
data["days_before_service"].value_counts()

days_before_service
15    33800
14    33800
13    33800
12    33800
11    33800
10    33800
9     33800
8     33800
7     33800
6     33800
5     33800
4     33800
3     33800
2     33800
1     33800
Name: count, dtype: int64

In [98]:
data['service_key'] = (
      data['service_date'].str[6:10] + '-' +   
    data['service_date'].str[3:5] + '-' +   
    data['service_date'].str[0:2] + '_' + 
    data['origin_hub_id'].astype(str) + '_' +
    data['destination_hub_id'].astype(str)
)
data

,service_date,interaction_date,origin_hub_id,destination_hub_id,origin_region,destination_region,origin_hub_tier,destination_hub_tier,cumulative_commitments,cumulative_interest_signals,days_before_service,final_service_units,service_key
0,01-03-2023,14-02-2023,45,46,Karnataka,Tamil Nadu,Tier 1,Tier 1,16,480,15,2838,2023-03-01_45_46
1,01-03-2023,14-02-2023,46,45,Tamil Nadu,Karnataka,Tier 1,Tier 1,34,352,15,2298,2023-03-01_46_45
2,01-03-2023,14-02-2023,45,47,Karnataka,Andhra Pradesh,Tier 1,Tier 1,36,892,15,2720,2023-03-01_45_47
3,01-03-2023,14-02-2023,47,45,Andhra Pradesh,Karnataka,Tier 1,Tier 1,18,1130,15,2580,2023-03-01_47_45
4,01-03-2023,14-02-2023,46,9,Tamil Nadu,Tamil Nadu,Tier 1,Tier2,48,1023,15,4185,2023-03-01_46_9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
506995,01-02-2024,31-01-2024,2,24,Maharashtra and Goa,Maharashtra and Goa,Tier 1,Tier2,650,16230,1,1180,2024-02-01_2_24
506996,01-02-2024,31-01-2024,44,45,Tamil Nadu,Karnataka,Tier2,Tier 1,540,7155,1,1000,2024-02-01_44_45
506997,01-02-2024,31-01-2024,47,10,Andhra Pradesh,Andhra Pradesh,Tier 1,Tier 3,340,9970,1,840,2024-02-01_47_10
506998,01-02-2024,31-01-2024,38,36,Rest of North,Delhi,Tier 1,Tier2,300,7000,1,950,2024-02-01_38_36
506999,01-02-2024,31-01-2024,19,30,Madhya Pradesh,Maharashtra and Goa,Tier 1,Tier 1,665,9800,1,1150,2024-02-01_19_30

In [99]:
data.to_csv("technoforce.csv", index=False)

In [100]:
data.dtypes

service_date                   object
interaction_date               object
origin_hub_id                   int64
destination_hub_id              int64
origin_region                  object
destination_region             object
origin_hub_tier                object
destination_hub_tier           object
cumulative_commitments          int64
cumulative_interest_signals     int64
days_before_service             int64
final_service_units             int64
service_key                    object
dtype: object

In [101]:
# Start

In [102]:
# clean spaces first (VERY IMPORTANT)
data['service_date'] = data['service_date'].str.strip()

data['service_day'] = data['service_date'].str[:2].astype(int)
data['service_month'] = data['service_date'].str[3:5].astype(int)
data['service_year'] = data['service_date'].str[6:10].astype(int)

In [103]:
data[['service_date','service_day','service_month','service_year']].head()

  service_date  service_day  service_month  service_year
0   01-03-2023            1              3          2023
1   01-03-2023            1              3          2023
2   01-03-2023            1              3          2023
3   01-03-2023            1              3          2023
4   01-03-2023            1              3          2023

In [71]:
data.dtypes

service_date                   datetime64[ns]
interaction_date               datetime64[ns]
origin_hub_id                           int64
destination_hub_id                      int64
origin_region                          object
destination_region                     object
origin_hub_tier                        object
destination_hub_tier                   object
cumulative_commitments                  int64
cumulative_interest_signals             int64
days_before_service                     int64
final_service_units                     int64
service_key                    datetime64[ns]
dtype: object

In [104]:
data['interaction_date'] = data['interaction_date'].str.strip()

data['interaction_day'] = data['interaction_date'].str[:2].astype(int)
data['interaction_month'] = data['interaction_date'].str[3:5].astype(int)
data['interaction_year'] = data['interaction_date'].str[6:10].astype(int)

In [200]:
data['service_key'] = data['service_key'].str.strip()
data['service_year_key'] = data['service_key'].str[:4].astype(int)
data['service_month_key'] = data['service_key'].str[5:7].astype(int)
data['service_day_key'] = data['service_key'].str[8:10].astype(int)

In [201]:
data[:10]

,service_date,interaction_date,origin_hub_id,destination_hub_id,origin_region,destination_region,origin_hub_tier,destination_hub_tier,cumulative_commitments,cumulative_interest_signals,...,service_key,service_day,service_month,service_year,interaction_day,interaction_month,interaction_year,service_year_key,service_month_key,service_day_key
0,01-03-2023,14-02-2023,45,46,Karnataka,Tamil Nadu,0,0,16,480,...,2023-03-01_45_46,1,3,2023,14,2,2023,2023,3,1
1,01-03-2023,14-02-2023,46,45,Tamil Nadu,Karnataka,0,0,34,352,...,2023-03-01_46_45,1,3,2023,14,2,2023,2023,3,1
2,01-03-2023,14-02-2023,45,47,Karnataka,Andhra Pradesh,0,0,36,892,...,2023-03-01_45_47,1,3,2023,14,2,2023,2023,3,1
3,01-03-2023,14-02-2023,47,45,Andhra Pradesh,Karnataka,0,0,18,1130,...,2023-03-01_47_45,1,3,2023,14,2,2023,2023,3,1
4,01-03-2023,14-02-2023,46,9,Tamil Nadu,Tamil Nadu,0,3,48,1023,...,2023-03-01_46_9,1,3,2023,14,2,2023,2023,3,1
5,01-03-2023,14-02-2023,9,46,Tamil Nadu,Tamil Nadu,3,0,21,408,...,2023-03-01_9_46,1,3,2023,14,2,2023,2023,3,1
6,01-03-2023,14-02-2023,46,48,Tamil Nadu,Tamil Nadu,0,3,147,2910,...,2023-03-01_46_48,1,3,2023,14,2,2023,2023,3,1
7,01-03-2023,14-02-2023,48,46,Tamil Nadu,Tamil Nadu,3,0,72,822,...,2023-03-01_48_46,1,3,2023,14,2,2023,2023,3,1
8,01-03-2023,14-02-2023,45,9,Karnataka,Tamil Nadu,0,3,36,684,...,2023-03-01_45_9,1,3,2023,14,2,2023,2023,3,1
9,01-03-2023,14-02-2023,9,45,Tamil Nadu,Karnataka,3,0,15,336,...,2023-03-01_9_45,1,3,2023,14,2,2023,2023,3,1

In [202]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['origin_hub_tier'] = le.fit_transform(data['origin_hub_tier'])
data['destination_hub_tier'] = le.fit_transform(data['destination_hub_tier'])

In [203]:
data

,service_date,interaction_date,origin_hub_id,destination_hub_id,origin_region,destination_region,origin_hub_tier,destination_hub_tier,cumulative_commitments,cumulative_interest_signals,...,service_key,service_day,service_month,service_year,interaction_day,interaction_month,interaction_year,service_year_key,service_month_key,service_day_key
0,01-03-2023,14-02-2023,45,46,Karnataka,Tamil Nadu,0,0,16,480,...,2023-03-01_45_46,1,3,2023,14,2,2023,2023,3,1
1,01-03-2023,14-02-2023,46,45,Tamil Nadu,Karnataka,0,0,34,352,...,2023-03-01_46_45,1,3,2023,14,2,2023,2023,3,1
2,01-03-2023,14-02-2023,45,47,Karnataka,Andhra Pradesh,0,0,36,892,...,2023-03-01_45_47,1,3,2023,14,2,2023,2023,3,1
3,01-03-2023,14-02-2023,47,45,Andhra Pradesh,Karnataka,0,0,18,1130,...,2023-03-01_47_45,1,3,2023,14,2,2023,2023,3,1
4,01-03-2023,14-02-2023,46,9,Tamil Nadu,Tamil Nadu,0,3,48,1023,...,2023-03-01_46_9,1,3,2023,14,2,2023,2023,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506995,01-02-2024,31-01-2024,2,24,Maharashtra and Goa,Maharashtra and Goa,0,3,650,16230,...,2024-02-01_2_24,1,2,2024,31,1,2024,2024,2,1
506996,01-02-2024,31-01-2024,44,45,Tamil Nadu,Karnataka,3,0,540,7155,...,2024-02-01_44_45,1,2,2024,31,1,2024,2024,2,1
506997,01-02-2024,31-01-2024,47,10,Andhra Pradesh,Andhra Pradesh,0,1,340,9970,...,2024-02-01_47_10,1,2,2024,31,1,2024,2024,2,1
506998,01-02-2024,31-01-2024,38,36,Rest of North,Delhi,0,3,300,7000,...,2024-02-01_38_36,1,2,2024,31,1,2024,2024,2,1
506999,01-02-2024,31-01-2024,19,30,Madhya Pradesh,Maharashtra and Goa,0,0,665,9800,...,2024-02-01_19_30,1,2,2024,31,1,2024,2024,2,1

In [204]:
data.dtypes

service_date                   object
interaction_date               object
origin_hub_id                   int64
destination_hub_id              int64
origin_region                  object
destination_region             object
origin_hub_tier                 int64
destination_hub_tier            int64
cumulative_commitments          int64
cumulative_interest_signals     int64
days_before_service             int64
final_service_units             int64
service_key                    object
service_day                     int32
service_month                   int32
service_year                    int32
interaction_day                 int32
interaction_month               int32
interaction_year                int32
service_year_key                int32
service_month_key               int32
service_day_key                 int32
dtype: object

In [205]:
# X and Y

In [206]:
X = data.drop(columns=['service_date','interaction_date','origin_region','destination_region','final_service_units','service_key'])
y = data['final_service_units']

In [207]:
X

,origin_hub_id,destination_hub_id,origin_hub_tier,destination_hub_tier,cumulative_commitments,cumulative_interest_signals,days_before_service,service_day,service_month,service_year,interaction_day,interaction_month,interaction_year,service_year_key,service_month_key,service_day_key
0,45,46,0,0,16,480,15,1,3,2023,14,2,2023,2023,3,1
1,46,45,0,0,34,352,15,1,3,2023,14,2,2023,2023,3,1
2,45,47,0,0,36,892,15,1,3,2023,14,2,2023,2023,3,1
3,47,45,0,0,18,1130,15,1,3,2023,14,2,2023,2023,3,1
4,46,9,0,3,48,1023,15,1,3,2023,14,2,2023,2023,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506995,2,24,0,3,650,16230,1,1,2,2024,31,1,2024,2024,2,1
506996,44,45,3,0,540,7155,1,1,2,2024,31,1,2024,2024,2,1
506997,47,10,0,1,340,9970,1,1,2,2024,31,1,2024,2024,2,1
506998,38,36,0,3,300,7000,1,1,2,2024,31,1,2024,2024,2,1
506999,19,30,0,0,665,9800,1,1,2,2024,31,1,2024,2024,2,1

In [208]:
y

0         2838
1         2298
2         2720
3         2580
4         4185
          ...
506995    1180
506996    1000
506997     840
506998     950
506999    1150
Name: final_service_units, Length: 507000, dtype: int64

In [209]:
X.dtypes

origin_hub_id                  int64
destination_hub_id             int64
origin_hub_tier                int64
destination_hub_tier           int64
cumulative_commitments         int64
cumulative_interest_signals    int64
days_before_service            int64
service_day                    int32
service_month                  int32
service_year                   int32
interaction_day                int32
interaction_month              int32
interaction_year               int32
service_year_key               int32
service_month_key              int32
service_day_key                int32
dtype: object

In [210]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [211]:
# model

In [212]:
#pip install xgboost

In [213]:
from xgboost import XGBRegressor

In [214]:
xgb = XGBRegressor(
    objective='reg:squarederror',
    random_state=42,
    n_jobs=-1,
    subsample=0.8,
    n_estimators=600,
    min_child_weight=3,
    max_depth=8,
    learning_rate=0.05,
    gamma=0,
    colsample_bytree=0.8

    
)

In [215]:
'''# from sklearn.ensemble import HistGradientBoostingRegressor

# model = HistGradientBoostingRegressor(
#     learning_rate=0.05,
#     max_depth=8,
#     max_iter=400,
#     min_samples_leaf=30,
#     random_state=42
# )
xgb = XGBRegressor(
    objective='reg:squarederror',
    random_state=42,
    n_jobs=-1
)
'''

"# from sklearn.ensemble import HistGradientBoostingRegressor\n\n# model = HistGradientBoostingRegressor(\n#     learning_rate=0.05,\n#     max_depth=8,\n#     max_iter=400,\n#     min_samples_leaf=30,\n#     random_state=42\n# )\nxgb = XGBRegressor(\n    objective='reg:squarederror',\n    random_state=42,\n    n_jobs=-1\n)\n"

In [216]:
'''from sklearn.model_selection import RandomizedSearchCV
import numpy as np

param_dist = {
    'n_estimators': [300, 600],
    'max_depth': [6, 8],
    'learning_rate': [0.03, 0.05],
    'subsample': [0.8, 1.0],
    'colsample_bytree': [0.8, 1.0],
    'min_child_weight': [3, 5],
    'gamma': [0, 0.1]
}


random_search = RandomizedSearchCV(
    estimator=xgb,
    param_distributions=param_dist,
    n_iter=30,                
    scoring='neg_root_mean_squared_error',
    cv=3,
    verbose=2,
    random_state=42,
    n_jobs=-1
)

random_search.fit(X_train, y_train)
'''

"from sklearn.model_selection import RandomizedSearchCV\nimport numpy as np\n\nparam_dist = {\n    'n_estimators': [300, 600],\n    'max_depth': [6, 8],\n    'learning_rate': [0.03, 0.05],\n    'subsample': [0.8, 1.0],\n    'colsample_bytree': [0.8, 1.0],\n    'min_child_weight': [3, 5],\n    'gamma': [0, 0.1]\n}\n\n\nrandom_search = RandomizedSearchCV(\n    estimator=xgb,\n    param_distributions=param_dist,\n    n_iter=30,                \n    scoring='neg_root_mean_squared_error',\n    cv=3,\n    verbose=2,\n    random_state=42,\n    n_jobs=-1\n)\n\nrandom_search.fit(X_train, y_train)\n"

In [217]:
xgb.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.8, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             feature_weights=None, gamma=0, grow_policy=None,
             importance_type=None, interaction_constraints=None,
             learning_rate=0.05, max_bin=None, max_cat_threshold=None,
             max_cat_to_onehot=None, max_delta_step=None, max_depth=8,
             max_leaves=None, min_child_weight=3, missing=nan,
             monotone_constraints=None, multi_strategy=None, n_estimators=600,
             n_jobs=-1, num_parallel_tree=None, ...)

In [218]:
'''best_params = random_search.best_params_
print("Best Hyperparameters:")
print(best_params)'''

'best_params = random_search.best_params_\nprint("Best Hyperparameters:")\nprint(best_params)'

In [219]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

pred = xgb.predict(X_val)

print("MAE:", mean_absolute_error(y_val, pred))
print("RMSE:", np.sqrt(mean_squared_error(y_val, pred)))
print("R²:", r2_score(y_val, pred))

MAE: 190.13195442170522
RMSE: 269.154830423255
R²: 0.9423410017038095

In [269]:
feature_cols = [
    'origin_hub_id',
    'destination_hub_id',
    'origin_hub_tier',
    'destination_hub_tier',
    'cumulative_commitments',
    'cumulative_interest_signals',
    'days_before_service',
    'service_day',
    'service_month',
    'service_year',
    'interaction_day',
    'interaction_month',
    'interaction_year'
]

In [270]:
test_df = pd.read_csv("test.csv")

date_part = test_df['service_key'].str.split('_').str[0]
date_part = pd.to_datetime(date_part, format='%Y-%m-%d', errors='coerce')

test_df['service_year_key'] = date_part.dt.year
test_df['service_month_key'] = date_part.dt.month
test_df['service_day_key'] = date_part.dt.day

In [271]:
train_features_lookup = data[['service_key'] + feature_cols]

test_filled = test_df.merge(
    train_features_lookup,
    on='service_key',
    how='left'
)

In [272]:
test_filled = test_filled.rename(columns={
    'origin_hub_id_y': 'origin_hub_id',
    'destination_hub_id_y': 'destination_hub_id'
})

test_filled = test_filled.drop(
    columns=['origin_hub_id_x', 'destination_hub_id_x'],
    errors='ignore'
)

In [273]:
test_filled['service_year_key'] = test_filled['service_year']
test_filled['service_month_key'] = test_filled['service_month']
test_filled['service_day_key'] = test_filled['service_day']

In [274]:
key_cols = ['service_year_key', 'service_month_key', 'service_day_key']

for col in key_cols:
    if col not in feature_cols:
        feature_cols.append(col)

In [276]:
preds = pd.Series(xgb.predict(X_test), index=test_filled.index)

test_filled['final_service_units'] = (
    preds
    .round()
    .clip(lower=0)
    .astype(int)
)

In [278]:
output_df = test_filled[['service_key', 'final_service_units']]
output_df

           service_key  final_service_units
0     2025-02-11_46_45                 1287
1     2025-01-20_17_23                 1287
2     2025-01-08_02_14                 1287
3     2025-01-08_08_47                 1287
4     2025-01-08_09_46                 1287
...                ...                  ...
5895  2025-01-23_46_48                 1287
5896  2025-02-21_46_09                 1287
5897  2025-01-17_32_19                 1287
5898  2025-01-24_45_03                 1287
5899  2025-01-27_32_19                 1287

[5900 rows x 2 columns]

In [279]:
output_df.to_csv('final_output.csv', index=False)